$primary: #B3A0A2;
$secondary: #DFD0CB;
$black: #000000;
$background-gray: #F5F5F5;
$gray-icons: #999999;
$gray-strong: #808080;
$gold:#D2AC74;
$headers: #666666;
$selection-fill: #B6AEAB;
$white: #ffffff;

